<!doctype html>
<html class="no-js" charset="utf-8">
	<head>
		<title>Parker Toshiba Business Phone Systems, San Francisco Bay Area, San Jose, Santa Clara, Sunnyvale, Santa Cruz, Fremont, Oakland, Concord</title>
		<meta name="description=" content="Offering top quality factory authorized Sales, Service, and Support for your Toshiba PBX Phone System and Voice mail. 24/7 service. 16/7 Sales">
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic|Average+Sans|Source+Sans+Pro:400,200italic,200,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
		<meta name="google-site-verification" content="fai--qJCI-LfNGp5kOzPuiL4QxgszIVUptzT03qdnnc" />
	</head>
	<body>
		<div class="container">
			<div class="row header">
				<div class="header-inner">
					<div class="span3 offset3">
						<img class="logo" src=images/parker_logo.png alt="Parker South Bay" />
					</div>

					<div class="span2">
						<small>
							Sales 408-342-8133<br/>
							Tech 408-342-8144
							7am-11pm &#149; 365 days<br/>
						</small>
					</div>

					<div class="span2">
						<img class="toshiba-logo logo" src=images/toshiba.png alt="Toshiba" />
						<p>Authorized Dealer</p>
						<small><a href=/authorized.html>Why authorized matters?</a></small>
					</div>

				</div><!-- header-inner -->
			</div><!-- header -->
			<div class="row vspace"></div>

			<div class="row">
				<div class="span3 sidebar">
					<ul class="nav">
						<li><a class="btn" href="index.html">Home</a></li>
						<li><a class="btn" href="whybuy.html">Why Buy Toshiba?</a></li>
						<li><a class="btn" href="upgrade.html">System Upgrade</a></li>
						<li><a class="btn" href="systems.html">Telephone Systems</a></li>
						<li><a class="btn" href="voicemails.html">Voice Mails</a></li>
						<li><a class="btn" href="telephones.html">Telephone Sets</a></li>
						<li><a class="btn" href="voip.html">VoIP</a></li>
						<li><a class="btn" href="gui.html">GUI for Your Phone</a></li>
						<li><a class="btn" href="acd.html">Call Center (ACD)</a></li>
						<li><a class="btn" href="recording.html">Call Recording</a></li>
						<li><a class="btn" href="video.html">Video Conferencing</a></li>
						<li><a class="btn" href="accounting.html">Call Accounting</a></li>
						<li><a class="btn" href="paging.html">Overhead Paging</a></li>
						<li><a class="btn" href="cabling.html">Cabling &amp; Racks</a></li>
						<li><a class="btn" href="promos.html">Current Promotions</a></li>
						<li><a class="btn" href="services.html">Services &amp; Rates</a></li>
						<li><a class="btn" href="moving.html">Moving Your Office</a></li>
						<li><a class="btn" href="economy.html">Economy 2012</a></li>
						<li><a class="btn" href="servicearea.html">Local Service Area</a></li>
						<li><a class="btn" href="national.html">National Accounts</a></li>
						<li><a class="btn" href="downloads.html">Downloads</a></li>
						<li><a class="btn" href="contactus.html">Contact Us</a></li>
						<li><a class="btn" href="downloads/parker_application_support.exe">Unleash the Hounds</a></li>
						<li><a class="microsite" href="http://www.toshibabusinesstelephones.com/pace/lp.asp?l=26&ac=22205&ar=2384" target="_blank" ><img src="http://www.toshibabusinesstelephones.com/pace/CF/TOSH/LP/26/images/TSD9066-Dealer-Banners-180x150.jpg" /></a></li>
					</ul>
				</div><!-- sidebar -->

				<div class="main span9">
					<%= content %>
				</div><!-- span10 -->
			</div><!-- row -->

			<script type="text/javascript" src="/javascripts/modernizr-2.6.2.min.js"></script>
			<!-- Begin: Google Analytics -->
			<script type="text/javascript">

				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-21048887-1']);
				_gaq.push(['_trackPageview']);

				(function() {
				 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				 })();
</script>
<!-- End: Google Analytics -->
	 </body>
 </html>
