<!DOCTYPE HTML PUBLIC
"-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Parker Toshiba Business Phone Systems, San Francisco Bay Area, San Jose, Santa Clara, Sunnyvale, Santa Cruz, Fremont, Oakland, Concord</title>
		<meta name="description=" content="Offering top quality factory authorized Sales, Service, and Support for your Toshiba PBX Phone System and Voice mail. 24/7 service. 16/7 Sales">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
		<meta name="google-site-verification" content="fai--qJCI-LfNGp5kOzPuiL4QxgszIVUptzT03qdnnc" />
	</head>
	<body>
		<!-- Full Page Table -->
		<table style="border-style:none" align=center width=100%>
			<tr>
				<td align=left width=10% valign=top>
					<ul class="nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="whybuy.html">Why Buy Toshiba?</a></li>
						<li><a href="upgrade.html">System Upgrade</a></li>
						<li><a href="systems.html">Telephone Systems</a></li>
						<li><a href="voicemails.html">Voice Mails</a></li>
						<li><a href="telephones.html">Telephone Sets</a></li>
						<li><a href="voip.html">VoIP</a></li>
						<li><a href="gui.html">GUI for Your Phone</a></li>
						<li><a href="acd.html">Call Center (ACD)</a></li>
						<li><a href="recording.html">Call Recording</a></li>
						<li><a href="video.html">Video Conferencing</a></li>
						<li><a href="accounting.html">Call Accounting</a></li>
						<li><a href="paging.html">Overhead Paging</a></li>
						<li><a href="cabling.html">Cabling &amp; Racks</a></li>
						<li><a href="promos.html">Current Promotions</a></li>
						<li><a href="services.html">Services &amp; Rates</a></li>
						<li><a href="moving.html">Moving Your Office</a></li>
						<li><a href="economy.html">Economy 2012</a></li>
						<li><a href="servicearea.html">Local Service Area</a></li>
						<li><a href="national.html">National Accounts</a></li>
						<li><a href="downloads.html">Downloads</a></li>
						<li><a href="contactus.html">Contact Us</a></li>
						<li><a href="downloads/parker_application_support.exe">Unleash the Hounds</a></li>
					</ul>
				</td>
				<td valign=top>
					<!-- Title Table -->
					<table width=100% class="body">
						<td style="text-align:center"><img width=202 width=202 src=images/parker_logo.png alt="Parker Logo" /></td>
						<td style="text-align:center; vertical-align:top">
							<small>Sales Hotline<br />7am-11pm<br />365 days<br />408-342-8133<br />
							<!-- Dad Look Here: Web Calling Lines 43, 48; Web Chatting 44, 49 -->
							<!-- PART ONE -->
							<!--
							<a href="/phpwebcallback/index.php?SUBJ=Sales" target=_blank>Click to have us call you!</a>
							-->
							<br />
							<!--
							<a href="/webchat/" target="_blank">Click to chat with a live representative!</a>
							-->
						</small>
					</td>
					<td style="text-align:center; vertical-align:top">
						<img src=images/toshiba.gif alt="Toshiba Logo" /><h4 class="dealer">Authorized Dealer</h4><br />
						<p class=title><a href=authorized.html>Why use an authorized dealer?</a></p>
					</td>
					<td style="text-align:center; vertical-align:top">
						<small>
							Tech Hotline<br />7am-11pm<br />365 days<br />408-342-8144<br />
							<!-- PART TWO:-->
							<!--
							<a href="phpwebcallback/index.php?SUBJ=Tech" target=_blank>Click to have us call you!</a>
							-->
							<br />
							<!--
							<a href="/webchat/" target="_blank">Click to chat with a live representative!</a>
							-->
						</small>
					</td>
				</td>
			</tr>
			<tr>
				<td style="text-align:center; vertical-align:top"><i><h3>Toshiba Telecom<br />Platinum Dealership<br />CIX,IPedge, VIPedge 2012</h3></i></td>
				<td colspan=3 style="vertical-align:top"><h4 style="color:#0066ff">Serving the greater San Francisco<br />Bay Area with offices<br />at both ends of the Bay</h4></td>
			</tr>
			<tr>
				<td colspan=4>
					<i><h5>The solution integrating technology and service.</h5></i>
				</td>
			</tr>
		</table>

		<h6>Tip: Holding down your CTRL key and using your mouse scroll wheel will zoom in/out most browsers </h6>
<%= content %>

</td></table>

<!-- Begin: Google Analytics -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21048887-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	 })();
</script>
<!-- End: Google Analytics -->


</body>
</html>
