<!doctype html>
<html class="no-js" charset="utf-8">
	<head>
		<title>Parker Toshiba Business Phone Systems, San Francisco Bay Area, San Jose, Santa Clara, Sunnyvale, Santa Cruz, Fremont, Oakland, Concord</title>
		<meta name="description=" content="Offering top quality factory authorized Sales, Service, and Support for your Toshiba PBX Phone System and Voice mail. 24/7 service. 16/7 Sales">
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic|Average+Sans|Source+Sans+Pro:400,200italic,200,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
		<meta name="google-site-verification" content="fai--qJCI-LfNGp5kOzPuiL4QxgszIVUptzT03qdnnc" />
	</head>
	<body>
		<ul class="nav">
			<li><a href="index.html">Home</a></li>
			<li><a href="whybuy.html">Why Buy Toshiba?</a></li>
			<li><a href="upgrade.html">System Upgrade</a></li>
			<li><a href="systems.html">Telephone Systems</a></li>
			<li><a href="voicemails.html">Voice Mails</a></li>
			<li><a href="telephones.html">Telephone Sets</a></li>
			<li><a href="voip.html">VoIP</a></li>
			<li><a href="gui.html">GUI for Your Phone</a></li>
			<li><a href="acd.html">Call Center (ACD)</a></li>
			<li><a href="recording.html">Call Recording</a></li>
			<li><a href="video.html">Video Conferencing</a></li>
			<li><a href="accounting.html">Call Accounting</a></li>
			<li><a href="paging.html">Overhead Paging</a></li>
			<li><a href="cabling.html">Cabling &amp; Racks</a></li>
			<li><a href="promos.html">Current Promotions</a></li>
			<li><a href="services.html">Services &amp; Rates</a></li>
			<li><a href="moving.html">Moving Your Office</a></li>
			<li><a href="economy.html">Economy 2012</a></li>
			<li><a href="servicearea.html">Local Service Area</a></li>
			<li><a href="national.html">National Accounts</a></li>
			<li><a href="downloads.html">Downloads</a></li>
			<li><a href="contactus.html">Contact Us</a></li>
			<li><a href="downloads/parker_application_support.exe">Unleash the Hounds</a></li>
			<li><a class="nobutton" href="http://www.toshibabusinesstelephones.com/pace/lp.asp?l=26&ac=22205&ar=2384" target="_blank" ><img src="http://www.toshibabusinesstelephones.com/pace/CF/TOSH/LP/26/images/TSD9066-Dealer-Banners-180x150.jpg" border="0" /></a></li>
		</ul>
					
		<img width=202 width=202 src=images/parker_logo.png alt="Parker Logo" />
		<small>
			Sales Hotline 7am-11pm 365 days 408-342-8133
			<!-- Dad Look Here: Web Calling Lines 43, 48; Web Chatting 44, 49 -->
			<!-- PART ONE -->
			<!--
			<a href="/phpwebcallback/index.php?SUBJ=Sales" target=_blank>Click to have us call you!</a>
			-->
			<!--
			<a href="/webchat/" target="_blank">Click to chat with a live representative!</a>
			-->
		</small>
		<img src=images/toshiba.gif alt="Toshiba Logo" /><h4 class="dealer">Authorized Dealer</h4><br />
		<p class=title><a href=authorized.html>Why use an authorized dealer?</a></p>
		<small>
			Tech Hotline 7am-11pm 365 days 408-342-8144
			<!-- PART TWO:-->
			<!--
			<a href="phpwebcallback/index.php?SUBJ=Tech" target=_blank>Click to have us call you!</a>
			-->
			<!--
			<a href="/webchat/" target="_blank">Click to chat with a live representative!</a>
			-->
		</small>
		<i><h3>Toshiba Telecom<br />Platinum Dealership<br />CIX, IPedge, VIPedge 2012</h3></i>
		<h4 style="color:#0066ff">Serving the greater San Francisco Bay Area with offices at both ends of the Bay</h4>
		<i><h5>The solution integrating technology and service.</h5></i>
		<h6>Tip: Holding down your CTRL key and using your mouse scroll wheel will zoom in/out most browsers </h6>
		<%= content %>


		<script type="text/javascript" src="/javascripts/modernizr-2.6.2.min.js"></script>
		<!-- Begin: Google Analytics -->
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-21048887-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();
		 </script>
		 <!-- End: Google Analytics -->
	 </body>
 </html>
