body { background: url(/images/bg.gif) repeat;}

table {
	border-style:none;
	border-color:grey;
}

ul.nav li {
	list-style-type: none;
}

ul.nav li a {
	line-height: 3em;
	background-color: #2567AF;
	color: black;
	display: block;
	height: 30px;
	width: 160px;
	padding: 5px;
	margin: 3px 0;
	text-align: center;
	vertical-align: baseline;
	font-size: 16px;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

ul.nav li a:hover {
	background-color: #005BF9;
	text-decoration: none;
}

ul.nav li a:visited {
	color: black;
	text-decoration: none;
}


pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p.title {
	padding:0px;
	margin:0px;
	font-family:sans-serif;
	text-align:center;
}

table.body, div.body {
	padding: 5px;
	font-family:sans-serif;
	border-style:solid;
	border-color:grey;
}

ul {
	list-style-type:none;
}

small {
	font-family:sans-serif;
	padding:0px;
	margin:0px;
	text-align:center;
}


img {
	padding-top:0px;
	padding-bottom:0px;
	border:0px;
}

h1, h2, h3, h4, h5 {
	color:black;
	font-family:sans-serif;
	text-align:center;
	padding:0px;
	margin:0px;
}
