body {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	background-image: url(/images/bg.gif);
	font-size: 18px;
}

small {
	font-size: 14px;
}

.shove-me-shove-me {
	margin-left: 3px;
}

small.tiny {
	font-size: 12px;
}

.row.vspace {
	margin-bottom: 30px;
}

.header {
	margin-top: 15px;
}

.hero-unit h1, h2 {
	font-style: italic;
}

.hero-unit h1 {
	font-size: 42px;
}

.hero-unit h3 {
	/* color: #06f; */
	font-size: 18px;
	font-weight: 600;
}


ul.menubar {
  list-style: none;
	margin: 0;
	padding: 0;
}

ul.menubar > li {
	margin: 4px;
}

ul.menubar > li > a {
	display: block;
}

.red {
	color: #c01e33;
}

.microsite {
	margin: 0 auto;
	width: 180px;
}

ul.no-dots {
	list-style: none;
}

